/*=E ¸¡¶¯²ã */
.share_layer { overflow:hidden;position:absolute; z-index:999999;zoom:1;font-size:12px; font-family:Arial, Sans-Serif; }
.share_layer ul, .share_layer ul li { list-style-type:none; }
.share_layer img { border:0 none; }
.share_layer a { text-decoration:none; }
.share_layer a:hover { text-decoration:underline; }
.share_layer button,.share_layer label { cursor:pointer; border:0 none; }
.share_layer input,.share_layer  button { font-size:12px; font-family:Arial, Sans-Serif; }
.share_layer_main{ border:1px solid #b5c1ca; position:relative; z-index:5}
.share_layer_title { height:24px; background:#EEF4F6 url(http://mat1.gtimg.com/www/images/nav/loginpop_tbg.png) repeat-x; cursor:move; border-bottom:1px solid #CED3E4; }
.share_layer_title h3 { float:left; margin:0;padding:3px 0 0 12px; color:#666; font-size:13px;font-weight:normal; line-height:18px; overflow:hidden; font-family:Arial, Helvetica, sans-serif;}
.share_layer_title .mblogo{ padding-left:24px;background:url(http://mat1.gtimg.com/www/images/nav/wblogin_bt1.png) -84px 6px no-repeat;}
.share_layer .bt_close { background:url(http://imgcache.qq.com/qzonestyle/qzone_app/app_news_share_v1/pop_bg.png) no-repeat 0 -39px; width:9px; height:10px;cursor:pointer; position:absolute; right:10px; top:11px; z-index:5px;}
.share_layer_cont a:link, .share_layer_cont a:visited { color:#5F5F5F; text-decoration:underline; }
.share_layer_cont a:hover, .share_layer_cont a:active { color:#494949; }
.share_layer_cont { color:#000000; overflow:hidden;}
.share_layer_hint { color:#9E9E9E; font-style:normal; }
.global_tip_button { text-align:center; clear:both; width:100%;}
.bt_tip_sure, .bt_tip_cancel { background-image:url(http://imgcache.qq.com/qzonestyle/qzone_app/app_news_share_v1/pop_bg.png); background-repeat:no-repeat; background-position:0 -58px; font-size:12px; line-height:19px; width:48px; height:23px; margin-right:6px; *overflow:visible;
_padding-top:3px; _line-height:12px; cursor:pointer; }
*:lang(zh) .bt_tip_sure, .bt_tip_cancel {padding-top /*\**/:4px\9}
.bt_tip_cancel { color:#4D637F; background-color:#F3F4F5; background-position:-54px -58px; }
.icon_hint_warn, .icon_hint_succeed { background:transparent url(http://imgcache.qq.com/qzonestyle/qzone_app/app_news_share_v1/pop_bg.png) no-repeat; display:-moz-inline-stack; display:inline-block; height:15px; width:15px; vertical-align:middle; }
.icon_hint_warn { background-position:-39px -37px; _vertical-align:-2px; }
.icon_hint_succeed { background-position:-18px -37px; }
.layer_popup { background-color:#FFFFFF; border:2px solid #6792bc; }
.icon_hint_warn span, .icon_hint_succeed span { display:none; }
.share_layer .bg {position:absolute;top:0;left:0;height:100%;padding:500px;zoom:1;}
.share_layer .del_fri{font-weight:bold;display:-moz-inline-stack;display:inline-block;line-height:9px;width:11px;height:10px;position:absolute;top:6px;right:10px;cursor:pointer; font-family:"Comic Sans MS","Verdana", cursive; color:#99ADBA;}
.share_layer .del_fri:hover{text-decoration:none; color:#666666;}
.share_layer_title .none { display:none !important; }

.dy_bt{background:none;}
.dy_bt span{margin-left:5px;vertical-align:middle;margin-bottom:6px;display: inline-block; width:45px;height:16px;margin-top:1px;padding:0;text-indent:-99em;background:url(http://mat1.gtimg.com/news/imgcss_article_qq/dy_bt_zt.png);cursor:pointer;}
.dy_done{color:#999;}
.dy_done span{background:none;text-align:center;text-indent:0;}
/*  |xGv00|27a34a8c3b3160b5cd0c2d0970fd6ba2 */